.Menu {
    padding: 10px;
    display: flex;
    justify-content: right;
    margin-right: 70px;
    flex-wrap: wrap;
}

.MenuItem {
    font-size: 18px;
    text-decoration: None;
    padding: 20px;
    font-weight: bold;
    color: #000;
    min-width: 150px;
    text-align: center;
}

.MenuItem:hover {
    background-color: #7e800a;
    color: #efefef;
}